body{
    font-family: Arial;
    text-align: center;
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

h1{
    color: blue;
}

p{
    color: black;
    font-size: 20px;
    font-weight: bold;
}

nav a{
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 10px 15px;
    border-radius: 5px;
}
